# Configuration file

general {
    # Range of chunk load boundaries.
    I:chunkSightRange=8

    # When right clicking on something with a gui, do not show the gui if you have a pipe in your hand
    B:filterRightclicks=false

    # Default key to toggle chunk load boundaries.
    I:laserKeyChar=68

    # Percentage of power a power teleport pipe transmits. Between 0 and 100.
    I:powerLoss=90
}


